flows_pi09.json
[{"id":"cfade1ef.f8df4","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"d6cf2199.ba7b18","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"5cbb69fc.83045","type":"tab","label":"Flow 4","disabled":true,"info":""},{"id":"e7190b91.8fb258","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"8e4cc014.cf90b","type":"tab","label":"looping functions","disabled":true,"info":"These flows get temp, and killCount at regular \nintervals. and update the interface when they do."},{"id":"5ed46ee9.09a338","type":"tab","label":"Main + Dashboard","disabled":false,"info":""},{"id":"ab91d50e.2ef678","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\r\\n","bin":"false","out":"char","addchar":true},{"id":"90eb205.8e55ee","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"RatKill 2k","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a1e336f1.9b0cd","type":"ui_tab","z":"","name":"Main controls","icon":"dashboard","order":1},{"id":"9e8abde7.b42df8","type":"ui_group","z":"","name":"Drep-o-meter","tab":"a1e336f1.9b0cd","order":1,"disp":true,"width":"6"},{"id":"65fbb1d0.cacf1","type":"ui_group","z":"","name":"Temprature","tab":"a1e336f1.9b0cd","order":2,"disp":true,"width":"6"},{"id":"aea59b3a.de02a","type":"ui_tab","z":"","name":"Advanced","icon":"dashboard","order":2},{"id":"5331f199.b9ec28","type":"ui_group","z":"","name":"Overrides","tab":"aea59b3a.de02a","order":2,"disp":true,"width":"6"},{"id":"b98dcf7b.9fb63","type":"ui_group","z":"","name":"Kill settings","tab":"aea59b3a.de02a","order":1,"disp":true,"width":"6"},{"id":"fbb8cb29.3b5f38","type":"ui_group","z":"","name":"Camera","tab":"a1e336f1.9b0cd","disp":true,"width":"6"},{"id":"ab33bd47.12f7c","type":"ui_link","z":"","name":"Camera Feed","link":"http://pi09.soc3001.net","icon":"open_in_browser","target":"newtab","order":3},{"id":"6cfa3f57.7fa6e8","type":"debug","z":"cfade1ef.f8df4","name":"","active":true,"console":"false","complete":"payload","x":410,"y":60,"wires":[]},{"id":"a22f4c27.d8e4f","type":"udp in","z":"cfade1ef.f8df4","name":"","iface":"","port":"9050","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":80,"y":60,"wires":[["7a79418b.32faf8"]]},{"id":"7a79418b.32faf8","type":"csv","z":"cfade1ef.f8df4","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"CMD,arg1,arg2,arg3","x":210,"y":60,"wires":[["3eb0b30d.776ddc"]]},{"id":"3eb0b30d.776ddc","type":"switch","z":"cfade1ef.f8df4","name":"","property":"payload.CMD","propertyType":"msg","rules":[{"t":"eq","v":"$LED","vt":"str"}],"checkall":"true","outputs":1,"x":90,"y":120,"wires":[["97c42b3f.a7f138","6cfa3f57.7fa6e8","a2c0a03d.44ea38","f212ff19.981438"]]},{"id":"97c42b3f.a7f138","type":"change","z":"cfade1ef.f8df4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.arg1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":120,"wires":[["275895b.2513b6a"]]},{"id":"275895b.2513b6a","type":"rpi-gpio out","z":"cfade1ef.f8df4","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":480,"y":120,"wires":[]},{"id":"a2c0a03d.44ea38","type":"change","z":"cfade1ef.f8df4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.arg2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":160,"wires":[["b6da58cb.325e18"]]},{"id":"b6da58cb.325e18","type":"rpi-gpio out","z":"cfade1ef.f8df4","name":"","pin":"13","set":"","level":"0","freq":"","out":"out","x":480,"y":160,"wires":[]},{"id":"f212ff19.981438","type":"change","z":"cfade1ef.f8df4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.arg3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":200,"wires":[["33a32ec7.4d5f3a"]]},{"id":"33a32ec7.4d5f3a","type":"rpi-gpio out","z":"cfade1ef.f8df4","name":"","pin":"15","set":"","level":"0","freq":"","out":"out","x":480,"y":200,"wires":[]},{"id":"34dfa220.39eae6","type":"csv","z":"d6cf2199.ba7b18","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"CMD,arg1,arg2,arg3","x":236,"y":140,"wires":[["8c812561.00896"]]},{"id":"8c812561.00896","type":"switch","z":"d6cf2199.ba7b18","name":"","property":"payload.CMD","propertyType":"msg","rules":[{"t":"eq","v":"$LED","vt":"str"}],"checkall":"true","outputs":1,"x":90,"y":280,"wires":[["6a22eaac.a5bc44","f8fac617.ac01a8","482344f5.31701c"]]},{"id":"6a22eaac.a5bc44","type":"change","z":"d6cf2199.ba7b18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.arg1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":281,"y":220,"wires":[["1013579c.03718"]]},{"id":"f8fac617.ac01a8","type":"change","z":"d6cf2199.ba7b18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.arg2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":281,"y":280,"wires":[["4e81fdec.bc58ac"]]},{"id":"482344f5.31701c","type":"change","z":"d6cf2199.ba7b18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.arg3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":281,"y":340,"wires":[["149118df.064ebf"]]},{"id":"d58bb1aa.b8ad78","type":"udp in","z":"d6cf2199.ba7b18","name":"","iface":"","port":"9050","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":83,"y":140,"wires":[["34dfa220.39eae6"]]},{"id":"1013579c.03718","type":"rpi-gpio out","z":"d6cf2199.ba7b18","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":471,"y":220,"wires":[]},{"id":"4e81fdec.bc58ac","type":"rpi-gpio out","z":"d6cf2199.ba7b18","name":"","pin":"13","set":"","level":"0","freq":"","out":"out","x":471,"y":280,"wires":[]},{"id":"149118df.064ebf","type":"rpi-gpio out","z":"d6cf2199.ba7b18","name":"","pin":"15","set":"","level":"0","freq":"","out":"out","x":471,"y":340,"wires":[]},{"id":"f50dc4c6.bd54b8","type":"function","z":"d6cf2199.ba7b18","name":"mk csv $SW,,,","func":"var SW0 =context.get('SW0') || 0;\nvar SW1 = context.get('SW1') || 0;\nvar SW2 = context.get('SW2') || 0;\n\nif(msg.topic==\"pi/12\")\n{ \n    SW0=1-SW0; \n    context.set('SW0', SW0); \n}\nif(msg.topic==\"pi/16\")\n{ \n    SW1=1-SW1; \n    context.set('SW1', SW1); \n}\nif(msg.topic==\"pi/18\")\n{ \n    SW2=1-SW2; \n    context.set('SW2', SW2); \n}\n\nmsg.payload=\"$LED,\"+SW0+\",\"+SW1+\",\"+SW2;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":280,"y":440,"wires":[["835574f5.09571","5ca6f4ea.556a2c"]]},{"id":"835574f5.09571","type":"debug","z":"d6cf2199.ba7b18","name":"","active":true,"console":"false","complete":"false","x":490,"y":440,"wires":[]},{"id":"5ca6f4ea.556a2c","type":"udp out","z":"d6cf2199.ba7b18","name":"","addr":"127.0.0.1","iface":"","port":"9050","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":520,"y":480,"wires":[]},{"id":"24cf5ba8.97026c","type":"rpi-gpio in","z":"d6cf2199.ba7b18","name":"","pin":"12","intype":"tri","debounce":"25","read":true,"x":70,"y":380,"wires":[["f50dc4c6.bd54b8"]]},{"id":"98454539.48bb38","type":"rpi-gpio in","z":"d6cf2199.ba7b18","name":"","pin":"16","intype":"tri","debounce":"25","read":true,"x":70,"y":440,"wires":[["f50dc4c6.bd54b8"]]},{"id":"cc562856.38d6d8","type":"rpi-gpio in","z":"d6cf2199.ba7b18","name":"","pin":"18","intype":"tri","debounce":"25","read":true,"x":70,"y":500,"wires":[["f50dc4c6.bd54b8"]]},{"id":"6605bee.bb5cbc","type":"inject","z":"5cbb69fc.83045","name":"","topic":"Voltage","payload":"“$VOLTAGE,1.023”","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":80,"wires":[["26cfaa6a.768326"]]},{"id":"26cfaa6a.768326","type":"csv","z":"5cbb69fc.83045","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"CMD,voltage","x":290,"y":160,"wires":[["5ae6d9c1.497738","2025e2f.72bd71e"]]},{"id":"5ae6d9c1.497738","type":"debug","z":"5cbb69fc.83045","name":"","active":true,"console":"false","complete":"payload","x":470,"y":160,"wires":[]},{"id":"754b883c.78948","type":"serial in","z":"5cbb69fc.83045","name":"","serial":"ab91d50e.2ef678","x":90,"y":160,"wires":[["26cfaa6a.768326"]]},{"id":"2025e2f.72bd71e","type":"wiotp out","z":"5cbb69fc.83045","authType":"d","qs":"true","qsDeviceId":"2025e2f.72bd71e","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":440,"y":106,"wires":[]},{"id":"ae3735cb.c3ed8","type":"serial in","z":"e7190b91.8fb258","name":"","serial":"ab91d50e.2ef678","x":90,"y":80,"wires":[["ed7a9c41.b8d98","1426c722.2446e1"]]},{"id":"ed7a9c41.b8d98","type":"udp out","z":"e7190b91.8fb258","name":"","addr":"128.39.113.37","iface":"","port":"9050","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":331,"y":79,"wires":[]},{"id":"1426c722.2446e1","type":"debug","z":"e7190b91.8fb258","name":"","active":false,"console":"false","complete":"payload","x":290,"y":120,"wires":[]},{"id":"490c4083.3aea18","type":"inject","z":"8e4cc014.cf90b","name":"","topic":"","payload":"getTemp","payloadType":"str","repeat":"3","crontab":"","once":true,"x":193,"y":180,"wires":[["b0875814.2a405"]]},{"id":"b0875814.2a405","type":"serial out","z":"8e4cc014.cf90b","name":"","serial":"ab91d50e.2ef678","x":588,"y":208,"wires":[]},{"id":"8643b91d.f5ffe8","type":"inject","z":"8e4cc014.cf90b","name":"","topic":"","payload":"killCount","payloadType":"str","repeat":"1800","crontab":"","once":true,"x":194,"y":252,"wires":[["aca1c8e9.d4e8b8"]]},{"id":"aca1c8e9.d4e8b8","type":"delay","z":"8e4cc014.cf90b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":337,"y":252,"wires":[["b0875814.2a405"]]},{"id":"56231a87.05f89c","type":"comment","z":"8e4cc014.cf90b","name":"Dont fill the serial bus","info":"this delay make sure the serial port isn't filled \nwith a jumble of strtings when the flow starts.","x":267,"y":285,"wires":[]},{"id":"23e6672e.9dda9","type":"serial in","z":"5ed46ee9.09a338","name":"","serial":"ab91d50e.2ef678","x":224.99996948242188,"y":939,"wires":[["6625f444.1ce76c","22719e8e.f07962","cc70dd1a.3dbaa8"]]},{"id":"5e4eb05c.7c99e","type":"switch","z":"5ed46ee9.09a338","name":"message filter","property":"payload.CMD","propertyType":"msg","rules":[{"t":"eq","v":"temp","vt":"str"},{"t":"eq","v":"killCount","vt":"str"},{"t":"eq","v":"killRead","vt":"str"},{"t":"eq","v":"nope","vt":"str"}],"checkall":"true","outputs":4,"x":568.9999694824219,"y":939,"wires":[["ae260fe.51ba1f","47255743.92a4f"],["fc5ce44.168d298","388500f6.5ca048"],["35bd99a4.172326"],[]]},{"id":"6625f444.1ce76c","type":"csv","z":"5ed46ee9.09a338","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"CMD,arg1,arg2","x":398.9999694824219,"y":939,"wires":[["5e4eb05c.7c99e","8c51608.329722","804046cc.c53818"]]},{"id":"22719e8e.f07962","type":"debug","z":"5ed46ee9.09a338","name":"Serial Raw","active":true,"console":"false","complete":"payload","x":380.9999694824219,"y":1037,"wires":[]},{"id":"a3594407.d8f288","type":"serial out","z":"5ed46ee9.09a338","name":"","serial":"ab91d50e.2ef678","x":1278,"y":377,"wires":[]},{"id":"ba5f7f56.622e3","type":"function","z":"5ed46ee9.09a338","name":"time to empty?","func":"// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\nvar dognGraderTeller = flow.get('dognGraderTeller')||0;\n //the time between samples of temp for tøm-o-meter.\nvar samplePeriode=24; //i timer. \n\nif(msg.payload==\"reset\")\n{\n    count=0;\n    context.set('count',count);\n    msg.payload=count;\n    return msg;\n}\n\n// har det gått 1 sample periode?\nif( dognGraderTeller>samplePeriode )\n{\n    dognGraderTeller=0;\n    flow.set('dognGraderTeller',dognGraderTeller);\n    \n    if(msg.payload.arg1>0) // er temp mer enn 0?\n    {\n        count+=msg.payload.arg1;\n        // store the value back\n        context.set('count',count);\n    }\n    \n    if(msg.payload.arg1>140)\n    {\n        count=140;\n    }\n    \n    msg.payload = parseInt(count*10)/10;\n    return msg;\n}","outputs":"1","noerr":0,"x":1002.9999694824219,"y":822,"wires":[["269889d.c03c876","2211707f.c8daf"]]},{"id":"324fe69f.6c91da","type":"comment","z":"5ed46ee9.09a338","name":"Todo","info":"- ~~make a dashboard~~\n- ~~get the kill duration and frequency from the controller~~\n## dashboard\n- ~~temp shouldn't update tøm-o-meter~~\n- ~~reset should clear #Drept in the tøm-o-meter~~\n- ~~fix the damn sliders for freq and delay~~","x":1744,"y":94,"wires":[]},{"id":"fe56a60d.9d078","type":"rpi-gpio out","z":"5ed46ee9.09a338","name":"Hard-Reset Nucleo","pin":"3","set":true,"level":"1","freq":"","out":"out","x":975,"y":2060.0000915527344,"wires":[]},{"id":"e5f3fdc4.b6cbc","type":"comment","z":"5ed46ee9.09a338","name":"pulse 0 for reset. ","info":"setting this to 0 will effectively turn the \ncontroler off, and it will start when it's set \nback to 1.","x":695,"y":1984.0000610351562,"wires":[]},{"id":"66d0369f.3f56f","type":"comment","z":"5ed46ee9.09a338","name":"Description","info":"returns the value onec every samlePeriode.\nonly when there is a rat captured.\n\n### upgrades:\n- add the previous values prompted by the loop, but not values grabbed by user. \n(the current itteration only grabbes samples of the temp)\n\nit should:\nreturns the sum of the last few values(only positive numbers)","x":1001.9999694824219,"y":787,"wires":[]},{"id":"269889d.c03c876","type":"ui_gauge","z":"5ed46ee9.09a338","name":"Time to empty","group":"9e8abde7.b42df8","order":1,"width":"6","height":"6","gtype":"gage","title":"tøm-o-meter","label":"døgngrader","format":"{{value}}","min":0,"max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1208.9999694824219,"y":857,"wires":[]},{"id":"f6d50fc0.d07d6","type":"ui_button","z":"5ed46ee9.09a338","name":"Reset","group":"9e8abde7.b42df8","order":2,"width":"2","height":"1","passthru":true,"label":"Reset/Tøm","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"","x":295.0000305175781,"y":499.0000305175781,"wires":[["ba5f7f56.622e3","51e6c500.b3e6dc"]]},{"id":"8c51608.329722","type":"function","z":"5ed46ee9.09a338","name":"Only send temp if 1 rat captured","func":"//var startDayCount = context.get('startDayCount')||0;\nvar killCount = context.get('killCount')||0;\n\nif(msg.payload.CMD==\"killCount\")\n{\n    killCount = msg.payload.arg1;\n    context.set('killCount',killCount);\n}\n\nif(killCount>0)\n{\n    if(msg.payload.CMD==\"temp\")\n    {\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":651,"y":840,"wires":[["ba5f7f56.622e3","eb9a0a65.a18228"]]},{"id":"804046cc.c53818","type":"debug","z":"5ed46ee9.09a338","name":"test1","active":false,"console":"false","complete":"payload","x":540.7666015625,"y":1129.7166748046875,"wires":[]},{"id":"eb9a0a65.a18228","type":"debug","z":"5ed46ee9.09a338","name":"ONLY","active":false,"console":"false","complete":"payload","x":891.7665710449219,"y":870.7166748046875,"wires":[]},{"id":"ae260fe.51ba1f","type":"function","z":"5ed46ee9.09a338","name":"Filter arg 1","func":"msg.payload=parseInt(msg.payload.arg1*10)/10.0;\nreturn msg;","outputs":1,"noerr":0,"x":856.7665710449219,"y":920.1833801269531,"wires":[["ad3e9a4a.81d6a"]]},{"id":"2a853783.160e4","type":"ui_button","z":"5ed46ee9.09a338","name":"","group":"5331f199.b9ec28","order":0,"width":0,"height":0,"passthru":false,"label":"Hardreset the microcontroller","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":354.7666931152344,"y":2054.2333984375,"wires":[["fe56a60d.9d078","e4c0a1ec.4f79d"]]},{"id":"e4c0a1ec.4f79d","type":"delay","z":"5ed46ee9.09a338","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":619.7666931152344,"y":2027.6666870117188,"wires":[["55b27c4d.38b6a4"]]},{"id":"55b27c4d.38b6a4","type":"function","z":"5ed46ee9.09a338","name":"Return 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":767.7666625976562,"y":2027.7000122070312,"wires":[["fe56a60d.9d078"]]},{"id":"ad3e9a4a.81d6a","type":"ui_gauge","z":"5ed46ee9.09a338","name":"temp","group":"65fbb1d0.cacf1","order":0,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"-30","max":"30","colors":["#0000ff","#80ffff","#ca3838"],"seg1":"-1","seg2":"1","x":1055.7665710449219,"y":875.566650390625,"wires":[]},{"id":"9ad1d63e.65d648","type":"inject","z":"5ed46ee9.09a338","name":"","topic":"","payload":"drep","payloadType":"str","repeat":"","crontab":"","once":false,"x":837.7666015625,"y":518.0167236328125,"wires":[["51e6c500.b3e6dc"]]},{"id":"b3bf6770.5ede3","type":"ui_text","z":"5ed46ee9.09a338","group":"9e8abde7.b42df8","order":3,"width":"2","height":"1","name":"antallDrept","label":"#Drept","format":"{{msg.payload}}","layout":"col-center","x":1142.7665710449219,"y":1008.3333129882812,"wires":[]},{"id":"bffb6284.ed3b7","type":"ui_button","z":"5ed46ee9.09a338","name":"","group":"65fbb1d0.cacf1","order":0,"width":0,"height":0,"passthru":false,"label":"Hent temp","color":"","bgcolor":"","icon":"","payload":"getTemp","payloadType":"str","topic":"","x":301.7666320800781,"y":462.23333740234375,"wires":[["51e6c500.b3e6dc"]]},{"id":"5ec7d5b.62ed1ac","type":"ui_button","z":"5ed46ee9.09a338","name":"","group":"9e8abde7.b42df8","order":4,"width":"2","height":"1","passthru":true,"label":"Hent # drept","color":"","bgcolor":"","icon":"","payload":"killCount","payloadType":"str","topic":"","x":308.7666320800781,"y":424.23333740234375,"wires":[["51e6c500.b3e6dc"]]},{"id":"badb3bde.d154f8","type":"ui_toast","z":"5ed46ee9.09a338","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1127.7665710449219,"y":960.2666015625,"wires":[]},{"id":"74efb8f1.b94e3","type":"ui_slider","z":"5ed46ee9.09a338","name":"kill freq","label":"Frekvens","group":"b98dcf7b.9fb63","order":1,"width":0,"height":0,"passthru":true,"topic":"","min":"10","max":"300","step":"1","x":968.7666015625,"y":162.16665649414062,"wires":[["8da0083a.cd1758"]]},{"id":"ada5f559.95076","type":"ui_slider","z":"5ed46ee9.09a338","name":"","label":"kill delay","group":"b98dcf7b.9fb63","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":"1","max":"10","step":"1","x":969.7666015625,"y":199.16665649414062,"wires":[["c26b177.b6b03e8"]]},{"id":"7b49737a.ff06dc","type":"debug","z":"5ed46ee9.09a338","name":"killSend","active":true,"console":"false","complete":"payload","x":1320.7666015625,"y":70.71664428710938,"wires":[]},{"id":"f9567c27.6a6d68","type":"ui_button","z":"5ed46ee9.09a338","name":"","group":"b98dcf7b.9fb63","order":4,"width":"3","height":"1","passthru":false,"label":"Set to Kill","color":"","bgcolor":"","icon":"","payload":"kill,100,4","payloadType":"str","topic":"","x":304.7666320800781,"y":263.23333740234375,"wires":[["55937a2a.644f6c"]]},{"id":"593c0c98.36ee0c","type":"ui_button","z":"5ed46ee9.09a338","name":"","group":"b98dcf7b.9fb63","order":5,"width":"3","height":"1","passthru":true,"label":"Set to stun","color":"","bgcolor":"","icon":"","payload":"kill, 50, 2","payloadType":"str","topic":"","x":330.8833312988281,"y":138.88333129882812,"wires":[["dd507f6c.11c7c"]]},{"id":"dd507f6c.11c7c","type":"csv","z":"5ed46ee9.09a338","name":"csv to obj","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"CMD,arg1,arg2","x":522.7666320800781,"y":138.5,"wires":[["893180ad.a4834","c6c4d6eb.dd8b88"]]},{"id":"893180ad.a4834","type":"function","z":"5ed46ee9.09a338","name":"Filter arg 1","func":"msg.payload=msg.payload.arg1;\nreturn msg;","outputs":1,"noerr":0,"x":693.88330078125,"y":121.88333129882812,"wires":[["74efb8f1.b94e3"]]},{"id":"c6c4d6eb.dd8b88","type":"function","z":"5ed46ee9.09a338","name":"Filter arg 2","func":"msg.payload=parseFloat(msg.payload.arg2);\nreturn msg;","outputs":1,"noerr":0,"x":697.88330078125,"y":159.88333129882812,"wires":[["ada5f559.95076","7b49737a.ff06dc"]]},{"id":"55937a2a.644f6c","type":"csv","z":"5ed46ee9.09a338","name":"csv to obj","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"CMD,arg1,arg2","x":481.8833312988281,"y":228.88333129882812,"wires":[["1a242eff.60de79","785aced2.16589"]]},{"id":"785aced2.16589","type":"function","z":"5ed46ee9.09a338","name":"Filter arg 2","func":"msg.payload=msg.payload.arg2;\nreturn msg;","outputs":1,"noerr":0,"x":702,"y":248.26666259765625,"wires":[["ada5f559.95076","7b49737a.ff06dc"]]},{"id":"1a242eff.60de79","type":"function","z":"5ed46ee9.09a338","name":"Filter arg 1","func":"msg.payload=msg.payload.arg1;\nreturn msg;","outputs":1,"noerr":0,"x":698,"y":210.26666259765625,"wires":[["74efb8f1.b94e3"]]},{"id":"886f950d.1b38c8","type":"ui_toast","z":"5ed46ee9.09a338","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Oppdatert #Drept","x":1164.8832702636719,"y":1045.88330078125,"wires":[]},{"id":"fc5ce44.168d298","type":"function","z":"5ed46ee9.09a338","name":"Filter arg 1","func":"msg.payload=msg.payload.arg1;\nreturn msg;","outputs":1,"noerr":0,"x":866.7499694824219,"y":1003.75,"wires":[["b3bf6770.5ede3"]]},{"id":"51e6c500.b3e6dc","type":"function","z":"5ed46ee9.09a338","name":"add \\r\\n","func":"msg.payload = msg.payload + '\\r' + '\\n'\nreturn msg;","outputs":1,"noerr":0,"x":1051.75,"y":376.75,"wires":[["a3594407.d8f288"]]},{"id":"2211707f.c8daf","type":"debug","z":"5ed46ee9.09a338","name":"time to empty?","active":false,"console":"false","complete":"payload","x":1208.9999694824219,"y":822,"wires":[]},{"id":"8da0083a.cd1758","type":"function","z":"5ed46ee9.09a338","name":"Save freq to Flow variable","func":"flow.set('freq',parseInt(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":1287.36669921875,"y":172,"wires":[["3ccf0ad7.d903ce"]]},{"id":"c26b177.b6b03e8","type":"function","z":"5ed46ee9.09a338","name":"Save duration to Flow variable","func":"flow.set('duration',parseInt(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":1281.36669921875,"y":213,"wires":[["3ccf0ad7.d903ce"]]},{"id":"3ccf0ad7.d903ce","type":"function","z":"5ed46ee9.09a338","name":"grab variables for freq and dur, from flow vars","func":"msg.payload=\"kill,\" + flow.get('freq') + \",\" + flow.get('duration');\nreturn msg;","outputs":1,"noerr":0,"x":1202.36669921875,"y":301,"wires":[["51e6c500.b3e6dc"]]},{"id":"14b5eb6b.fa336d","type":"inject","z":"5ed46ee9.09a338","name":"Initalize","topic":"","payload":"kill,10,1","payloadType":"str","repeat":"","crontab":"","once":true,"x":243.36669921875,"y":57,"wires":[["4d92acf6.2dca1c"]]},{"id":"10e93df9.0db6b2","type":"inject","z":"5ed46ee9.09a338","name":"","topic":"","payload":"getTemp","payloadType":"str","repeat":"900","crontab":"","once":true,"x":277.7499694824219,"y":1387.75,"wires":[["c3893b34.3f66e8","8fa211f6.0eae28"]]},{"id":"6e89346f.07554c","type":"serial out","z":"5ed46ee9.09a338","name":"","serial":"ab91d50e.2ef678","x":672.7499694824219,"y":1415.75,"wires":[]},{"id":"7e9f703e.6d6888","type":"inject","z":"5ed46ee9.09a338","name":"","topic":"","payload":"killCount","payloadType":"str","repeat":"","crontab":"","once":true,"x":278.7499694824219,"y":1459.75,"wires":[["db6d0a90.0194b8"]]},{"id":"db6d0a90.0194b8","type":"delay","z":"5ed46ee9.09a338","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":431.7499694824219,"y":1459.75,"wires":[["6e89346f.07554c"]]},{"id":"875fc3bc.bb33d8","type":"comment","z":"5ed46ee9.09a338","name":"Dont fill the serial bus","info":"this delay make sure the serial port isn't filled \nwith a jumble of strtings when the flow starts.","x":351.7499694824219,"y":1492.75,"wires":[]},{"id":"c3893b34.3f66e8","type":"function","z":"5ed46ee9.09a338","name":"tell antall spørringer. ","func":"// initialise the counter to 0 if it doesn't exist already\nvar dognGraderTeller = flow.get('dognGraderTeller')||0;\n//var count = context.get('count')||0;\n//flow.set('freq',parseInt(msg.payload));\n//msg.payload=\"kill,\" + flow.get('freq') + \",\" + flow.get('duration');\ndognGraderTeller++;\n\n\nflow.set('dognGraderTeller',dognGraderTeller);\nreturn msg;","outputs":1,"noerr":0,"x":494.36663818359375,"y":1349,"wires":[[]]},{"id":"8fa211f6.0eae28","type":"function","z":"5ed46ee9.09a338","name":"add \\r\\n","func":"msg.payload = msg.payload + '\\r' + '\\n'\nreturn msg;","outputs":1,"noerr":0,"x":474.7499694824219,"y":1394.75,"wires":[["6e89346f.07554c"]]},{"id":"e3b7479f.bf3f7","type":"ui_toast","z":"5ed46ee9.09a338","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1164.3666687011719,"y":1084.75,"wires":[]},{"id":"35bd99a4.172326","type":"function","z":"5ed46ee9.09a338","name":"Format notification","func":"msg.topic=\"Frequency and duration.\"\nmsg.payload= \"Frekvens:\" + msg.payload.arg1.toString()+ \"Hz   Delay:\" + msg.payload.arg2.toString()+ \"s\";\nreturn msg;","outputs":1,"noerr":0,"x":890.36669921875,"y":1083,"wires":[["e3b7479f.bf3f7"]]},{"id":"388500f6.5ca048","type":"function","z":"5ed46ee9.09a338","name":"Format notification","func":"msg.topic=\"Antall drept oppdatert\"\nmsg.payload= \"Antall drept:\" + msg.payload.arg1.toString();\nreturn msg;","outputs":1,"noerr":0,"x":891.7499694824219,"y":1043.75,"wires":[["886f950d.1b38c8"]]},{"id":"47255743.92a4f","type":"function","z":"5ed46ee9.09a338","name":"Format notification","func":"var tmp = parseInt(msg.payload.arg1*10)/10\nmsg.topic=\"Temperatur oppdatert\"\nmsg.payload= \"Temp:\" + tmp.toString()+\"°C\";\nreturn msg;","outputs":1,"noerr":0,"x":878.7499694824219,"y":955.75,"wires":[["badb3bde.d154f8"]]},{"id":"4c47ca8d.5ba814","type":"ui_button","z":"5ed46ee9.09a338","name":"","group":"b98dcf7b.9fb63","order":0,"width":0,"height":0,"passthru":true,"label":"Vis nåværene verdier.","color":"","bgcolor":"","icon":"","payload":"killRead","payloadType":"str","topic":"","x":485.3666687011719,"y":369.25,"wires":[["51e6c500.b3e6dc"]]},{"id":"4d92acf6.2dca1c","type":"delay","z":"5ed46ee9.09a338","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":366.3666687011719,"y":100,"wires":[["dd507f6c.11c7c"]]},{"id":"10117c35.146434","type":"exec","z":"5ed46ee9.09a338","command":"bash /NodeRed/takePicture.sh   ","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"take picture","x":628.36669921875,"y":1743.5,"wires":[["adacfe70.893f38","bdc01809.2bd6e8","95e24f3f.64b93"],["f83c5fa3.785a"],["6f5b7c31.4b1e54"]]},{"id":"274eb09e.5eeab","type":"inject","z":"5ed46ee9.09a338","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":261.36669921875,"y":1700,"wires":[["7834e1e1.c99948"]]},{"id":"adacfe70.893f38","type":"debug","z":"5ed46ee9.09a338","name":"stdout","active":true,"console":"false","complete":"payload","x":804.36669921875,"y":1732.75,"wires":[]},{"id":"f83c5fa3.785a","type":"debug","z":"5ed46ee9.09a338","name":"stderr","active":false,"console":"false","complete":"payload","x":984.75,"y":1743.75,"wires":[]},{"id":"6f5b7c31.4b1e54","type":"debug","z":"5ed46ee9.09a338","name":"PRINT","active":false,"console":"false","complete":"payload","x":977.75,"y":1779.75,"wires":[]},{"id":"bdc01809.2bd6e8","type":"ui_template","z":"5ed46ee9.09a338","group":"fbb8cb29.3b5f38","name":"","order":1,"width":"6","height":"6","format":"<div height=\"210\" style=\"height: 210px;\">\n<img ng-src=\"/{{msg.payload}}\" width=\"300\"><br/>\n<a href=\"/{{msg.payload}}\" target=\"_blank\">Full screen</a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":821.75,"y":1663.75,"wires":[[]]},{"id":"d1f92365.b71f","type":"ui_button","z":"5ed46ee9.09a338","name":"capture","group":"fbb8cb29.3b5f38","order":2,"width":0,"height":0,"passthru":false,"label":"Update image","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":256.36669921875,"y":1782.25,"wires":[["7834e1e1.c99948","ab87c1ec.e4425"]]},{"id":"7834e1e1.c99948","type":"function","z":"5ed46ee9.09a338","name":"tell antall bilder. ","func":"// initialise the counter to 0 if it doesn't exist already\nvar CaptureCount = flow.get('CaptureCount')||0;\nmsg.payload=parseInt(CaptureCount);\n//msg.payload=\"kake\";\nCaptureCount++;\nif(CaptureCount>9001)//Ower nineThousand!\n    CaptureCount=0;\nflow.set('CaptureCount',CaptureCount);\nreturn msg;","outputs":1,"noerr":0,"x":440.75,"y":1743.75,"wires":[["10117c35.146434"]]},{"id":"297a8968.61c63e","type":"comment","z":"5ed46ee9.09a338","name":"Input","info":"Her hentes input fra Bruker-grensesnitt.","x":88.36666870117188,"y":270.5,"wires":[]},{"id":"98ff686e.bed068","type":"comment","z":"5ed46ee9.09a338","name":"Mottak","info":"Her mottas seriell kommunikkasjon fra Nucleo MCU'en.\ndet parses, og behandles. \ninterfaces on the webinterface (NodeRed dashboard) are also updated. ","x":66.36666870117188,"y":939.5,"wires":[]},{"id":"9a925dc1.b6d338","type":"comment","z":"5ed46ee9.09a338","name":"Loops","info":"Denne delen henter verdiene når NodeRed starter. \nog looper GetTemp, og Killcount med satte intervaller. ","x":103.76666259765625,"y":1425.6166687011719,"wires":[]},{"id":"194b5aa0.d3b23d","type":"comment","z":"5ed46ee9.09a338","name":"Cheese!","info":"Denne delen tar bilde med kamera og oppdaterer Dashboard med siste bilde","x":100.76666259765625,"y":1750.6166687011719,"wires":[]},{"id":"b04d3502.73481","type":"comment","z":"5ed46ee9.09a338","name":"Restart MCU","info":"Dette er i tilfelle Nucleo kortet går i vranglås. \nså kan man restarte den. \ndenne setter reset pinnen lav i et lite øyeblikk, så den starter på nytt. ","x":101.76666259765625,"y":2050.616668701172,"wires":[]},{"id":"c6abee94.7a0ba","type":"rpi-gpio out","z":"5ed46ee9.09a338","name":"Camera LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":1075.449951171875,"y":1845.699951171875,"wires":[]},{"id":"95e24f3f.64b93","type":"function","z":"5ed46ee9.09a338","name":"Return 0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":832.566650390625,"y":1856.3667602539062,"wires":[["c6abee94.7a0ba"]]},{"id":"ab87c1ec.e4425","type":"function","z":"5ed46ee9.09a338","name":"Return 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":420.566650390625,"y":1817.36669921875,"wires":[["c6abee94.7a0ba"]]},{"id":"cc70dd1a.3dbaa8","type":"udp out","z":"5ed46ee9.09a338","name":"send to PC","addr":"128.39.114.92","iface":"","port":"9050","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":452.44996643066406,"y":755.0000152587891,"wires":[]},{"id":"55085821.30f338","type":"udp in","z":"5ed46ee9.09a338","name":"Motta via udp","iface":"","port":"9050","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":836.4499664306641,"y":594.6499786376953,"wires":[["51e6c500.b3e6dc","f9086338.6cbbc"]]},{"id":"f9086338.6cbbc","type":"debug","z":"5ed46ee9.09a338","name":"UDP inn","active":true,"console":"false","complete":"payload","x":1156.449966430664,"y":566.3999786376953,"wires":[]}]